<div class="header clearfix">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><b>Club head</b></a>
      <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
              <form method="POST" action="/club_head/profile">
                    <a class="nav-link  <%= page_name == 'home' ? 'active' : '' %>" href="#" onclick="$(this).closest('form').submit()">Home</a>
              </form>
            </li>
          <li class="nav-item">
              <a class="nav-link  <%= page_name == 'create_event' ? 'active' : '' %>" href="/events/create">Create Event</a>
            </li>
          <li class="nav-item">
              <a class="nav-link  <%= page_name == 'view_events' ? 'active' : '' %>" href="/events/view_all">View Events</a>
            </li>
          <li class="nav-item">
              <a class="nav-link  <%= page_name == 'blogs' ? 'active' : '' %>" href="/blog/view_all">Blogs</a>
            </li>
          <li class="nav-item">
              <a class="nav-link  <%= page_name == 'update_club' ? 'active' : '' %>" href="/club/update">Update club</a>
            </li>
          <li class="nav-item">
            <a class="nav-link  <%= page_name == 'update_club' ? 'active' : '' %>" href="#">Club Members</a>
          </li>
        </ul>
      </div>
      <form method="GET" action="/club_head/logout/" >
          <button type="submit" class='btn btn-outline-danger btn-sm ml-auto'>LOGOUT</button> 
      </form>
  </nav>
</div>