<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blogs</title>
      <%-include('partials/dependencies.ejs')%>    
</head>
  <body>    
  <%-include('partials/alert_system.ejs')%>
    <style>
        input[type="file"] {
        display: block;
        }
        .imageThumb {
        height: 100px;
        width: 100px;
        border: 2px solid;
        padding: 1px;
        cursor: pointer;
        }
        .pip {
        display: inline-block;
        margin: 10px;
        }
        .remove {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
        }
        .remove:hover {
        background: white;
        color: black;
        }
        #snapholder{
            height:auto;
            min-height:50px;
            height:auto !important;  /* for IE as it does not support min-height */
        }
    </style>
    <%-include('partials/navbar_clubhead.ejs')%> <br><br>
    <h3 style="text-align: center; text-decoration: underline; padding-top: 30px;">Write Blogs!</h3>
    <div class="container" style="padding-top:30px;">
        <div class="col-md-5 m-auto">
        <form action="/blog/create" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="category">Category :</label>
                <select name="category" id="category" required>
                <option value="none" selected disabled hidden> 
                Select Category 
                </option> 
                <option value="Workshop">Workshop</option>
                <option value="Competition">Competition</option>
                <option value="Talk-show">Talk-show</option>
                <!-- TODO: the following parameter is not referred in events -->
                <option value="Activity">Activity</option> 
                </select>
            </div>
            <div class="Workshop optional">
            </div>
            <div class="Competition optional">
                <div class="form-group">
                    <label>Award Winners</label>
                    <input class="form-control" name="award_winners" placeholder="Separate with | and ,">
                    <small class="form-text text-muted">"|" to seperate winning tiers and "," for ties</small>
                </div>
            </div>
            <div class="Talk-show optional">
                <div class="form-group">
                    <label>Chief Guest</label>
                    <input class="form-control" name="chief_guest">
                </div>
                <div class="form-group">
                    <label>Chief Guest URL</label>
                    <input type="file" accept='image/*' onchange="imageCompressor(event);" name="chief_guest_url" class="form-control-file" >
                </div>
            </div>
            <div class="Activity optional">
            </div>
            <div class="form-group">
                <label>Title of the Blog</label>
                <input type="text" class="form-control" name="title" required placeholder="Provide a nice title to the blog">
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="featured" name="featured">
                    <label class="custom-control-label" for="featured">Is Featured?</label>
                </div>
            </div>
            <div id="extract-container"></div>
            <div class="form-group">
                <label>Summary</label>
                <textarea class="form-control" name="summary" rows="4" placeholder="Provide a short summary..."></textarea>
            </div>
            <div class="form-group">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <table class="table table-bordered table-hover" id="tab_logic">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            #
                                        </th>
                                        <th class="text-center">
                                            File attachments
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id='addr0'>
                                        <td>1</td>
                                        <td>
                                        <input type="file" name='file_attachment[]'  placeholder='Upload relevant docs/files' class="form-control" >
                                        </td>
                                    </tr>
                                    <tr id='addr1'></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button type="button" id="add_row" class="btn btn-default pull-left">Add Row</button><button id='delete_row' class="pull-right btn btn-default">Delete Row</button>
                </div>
            </div>
            <div class="form-group">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <table class="table table-bordered table-hover" id="tab_logic2">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            #
                                        </th>
                                        <th class="text-center">
                                            External Links
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id='addr20'>
                                        <td>1</td>
                                        <td>
                                        <input type="text" name='outside_links[]'  placeholder='Provide links to google docs/ uploads' class="form-control">
                                        </td>
                                    </tr>
                                    <tr id='addr21'></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button type="button" id="add_row2" class="btn btn-default pull-left">Add Row</button><button id='delete_row2' class="pull-right btn btn-default">Delete Row</button>
                </div>
            </div>
            <div class="form-group">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <table class="table table-bordered table-hover" id="tab_logic3">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            #
                                        </th>
                                        <th class="text-center">
                                            Linked Videos
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id='addr30'>
                                        <td>1</td>
                                        <td>
                                        <input type="text" name='video_links[]'  placeholder='Provide links to videos if any..' class="form-control">
                                        </td>
                                    </tr>
                                    <tr id='addr31'></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button type="button" id="add_row3" class="btn btn-default pull-left">Add Row</button><button id='delete_row3' class="pull-right btn btn-default">Delete Row</button>
                </div>
            </div>
            <div class="form-group">
                <label>Upload Photos</label>
                <% imageh_name="file_attachment[]" %>
                <%-include('partials/multi_image_handler.ejs')%>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="published" name="published">
                    <label class="custom-control-label" for="published">Publish?</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-bottom: 20px; margin-bottom: 20px;">Create Blog</button>
        </form>
        </div>
    </div>
    <script>
        
        $("input[name=featured]").change(function() {
            var checked = $(this).prop('checked');
            $("input[name=published]").prop("checked",checked);
            $("input[name=published]").attr("disabled",checked);

            // to provide extract textarea
            if(this.checked){
                var temp_div = document.createElement('DIV')
                temp_div.id = 'temp-div'
                temp_div.class = "form-control"
                var t_area = document.createElement('TEXTAREA')
                t_area.id = "extract"
                t_area.name = "extract"
                t_area.rows = '5'
                t_area.cols = '65'
                t_area.required = 'true'
                var label = document.createElement('LABEL')
                label.innerHTML = 'Extract :'
                temp_div.appendChild(label)
                temp_div.appendChild(document.createElement('BR'))
                temp_div.appendChild(t_area)
                document.getElementById('extract-container').appendChild(temp_div)
               
            }else{
                document.getElementById('temp-div').remove()
            }
        });

                var editor = CKEDITOR.replace('summary');
        editor.on( 'required', function( evt ) {
                editor.showNotification( 'This field is required.', 'warning' );
                evt.cancel();
        });

        $(document).ready(function(){

            $("#category").change(function(){
                $(this).find("option:selected").each(function(){
                    var selected = $(this).attr("value");
                    if(selected){
                        $(".optional").not("." + selected).hide();
                        $("." + selected).show();
                    } else{
                        $(".optional").hide();
                    }
                });
            }).change();

            var i=1;
            $("#add_row").click(function(event){event.preventDefault();b=i-1;
            $('#addr'+i).html($('#addr'+b).html()).find('td:first-child').html(i+1);
            $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
            i++; 
            });
            $("#delete_row").click(function(event){event.preventDefault();
                if(i>1){
                $("#addr"+(i-1)).html('');
                i--;
                }
            });
                var j=1;
                $("#add_row2").click(function(event){event.preventDefault();b=j-1;
                $('#addr2'+j).html($('#addr2'+b).html()).find('td:first-child').html(j+1);
                $('#tab_logic2').append('<tr id="addr2'+(j+1)+'"></tr>');
                j++; 
                });
                $("#delete_row2").click(function(event){event.preventDefault();
                    if(j>1){
                    $("#addr2"+(j-1)).html('');
                    j--;
                    }
                });
                var k=1;
                $("#add_row3").click(function(event){event.preventDefault();b=k-1;
                $('#addr3'+k).html($('#addr3'+b).html()).find('td:first-child').html(k+1);
                $('#tab_logic3').append('<tr id="addr3'+(k+1)+'"></tr>');
                k++; 
                });
                $("#delete_row3").click(function(event){event.preventDefault();
                    if(k>1){
                    $("#addr3"+(k-1)).html('');
                    k--;
                    }
                });
        });
    </script>
    <%- include('partials/image_compressor.ejs') %>
    <%- include('partials/bottom_spacing.ejs') %>
</body>
</html>