<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blogs</title>
      <%-include('partials/dependencies.ejs')%>    
</head>
  <body>    
  <%-include('partials/alert_system.ejs')%>
    <style>
        input[type="file"] {
        display: block;
        }
        .imageThumb {
        height: 100px;
        width: 100px;
        border: 2px solid;
        padding: 1px;
        cursor: pointer;
        }
        .pip {
        display: inline-block;
        margin: 10px;
        }
        .remove {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
        }
        .remove:hover {
        background: white;
        color: black;
        }
        #snapholder{
            height:auto;
            min-height:50px;
            height:auto !important;  /* for IE as it does not support min-height */
        }
    </style>
    <%-include('partials/navbar_clubhead.ejs')%> <br><br>
    <h3 style="text-align: center; text-decoration: underline; padding-top: 30px;">Create Challenge Here!</h3>
    <div class="container" style="padding-top:30px;">
        <div class="col-md-5 m-auto">
        <form action="/challenges/create" method="POST" enctype="multipart/form-data">
            
            <div class="form-group">
                <label>Name of your Challenge</label>
                <input type="text" class="form-control" name="name" required placeholder="write your challenge name here">
            </div>
            <div class="form-group">
                <label for="category">Category :</label>
                <select name="category" id="category" required>
                <option value="none" selected disabled hidden> 
                Select Category 
                </option> 
                <option value="opt1">opt1</option>
                <option value="opt2">opt2</option>
                <option value="opt3">opt3</option>
                <option value="opt4">opt4</option> 
                </select>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" name="description" rows="4" placeholder="Provide a short discription..."></textarea>
            </div>
            <div class="form-group">
                <label>Ref_url</label>
                <input type="text" class="form-control" name="ref_url" required placeholder="provide the reference Url here">
            </div>
             <div class="form-group">
                <label for="poster">Photo:</label>
                <input type="file" accept='image/*' name="photo" id="poster" onchange="imageCompressor(event);">
            </div>
            <div class="form-group">
                <label for="event_date">Registration Starts at:</label>
                <input type="datetime-local" name="registration_start" id="event_date" required>
            </div>
            <div class="form-group">
                <label for="event_date">Registration End at:</label>
                <input type="datetime-local" name="registration_end" id="event_date" required>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-bottom: 20px; margin-bottom: 20px;">Create Challenge</button>
        </form>
        </div>
    </div>
    <%- include('partials/image_compressor.ejs') %>
    <%- include('partials/bottom_spacing.ejs') %>
</body>
</html>