<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Achievement</title>
      <%-include('partials/dependencies.ejs')%>    
</head>
  <body>    
  <%-include('partials/alert_system.ejs')%>
    <%- include('partials/navbar_admin') %>
    <h3 style="text-align: center; text-decoration: underline; padding-top: 30px;">Add New Achievement</h3>

    <div class="container" style="padding-top:30px;">
        <div class="col-md-5 m-auto">
        <form method="POST" action="/achievements/create/" enctype="multipart/form-data">

        <div class="form-group">
          <label>Title:</label>
          <input class="form-control" name="title" placeholder="Title of Achievement here">
        </div>

        <div class="form-group">
            <label>Caption:</label>
            <input class="form-control" name="caption" placeholder="Enter Caption">
        </div>

        <div class="form-group">
          <label>Description:</label>
          <textarea class="form-control" rows="3" name="des" placeholder="Provide description of Achievement"></textarea>
        </div>

        <div class="form-group">
          <label for="degree">Degree :</label>
          <option value="none" selected disabled hidden> 
              Select Degree 
          </option> 
          <select name="degree" id="degree" >
          <option value="Btech">Btech</option>
          <option value="Mtech">Mtech</option>
          <option value="Phd">Phd</option>
          </select>
      </div>
      <div class="field">
          <label>Upload snapshots</label>
          <% imageh_name="snapshot_url[]" %>
          <%-include('partials/multi_image_handler.ejs')%>
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>

        </form>
        </div>
    </div>
    <script>
      CKEDITOR.replace('des');
   </script>
  <%- include('partials/bottom_spacing.ejs') %>
</body>
</html>