<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Clubs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
</head>
<body>    
    <h2 style="display:none;" id="alerts"><%=alerts %></h2>
    <% if(alerts.length!=0){ %>
        <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) { 
            var x = $("#alerts").html(); 
                alert(x);
        });
        </script>
    <% } %>
    <%- include('partials/navbar_admin') %>
    <div class="container">
    <h1 class="display-2"> Club Details </h1>
    <!-- Template for each club-->
    <div class="card-group" style="align-content: center;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title mb-4"><%= club.name %></h5>
                    <div style="float: right; margin-right: 40px;">
                        <img src="/images/<%=club.logo_url%>" alt="club_logo" style="margin-left: 100px;" width="150px">
                    </div>
                    <p class="card-text">
                        <h3 class="card-subtitle mb-4 text-muted">Club Head: <%= club_head.name %></h3>
                    </p>
                    <p class="card-text">
                        <b>Email-id : </b><%= club_head.email_id %>
                    </p>
                    <p class="card-text">
                        <b>About : </b>
                    </p>
                    <div class="card-text">
                        <%- club.description %>
                    </div>
                    <p>
                    <a href="/club/reset/<%=club._id%>" class="btn btn-primary btn-sm">reset</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>