<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Events</title>
    <%-include('partials/dependencies.ejs')%>    
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%-include('partials/navbar_clubhead.ejs')%>
    <div class="container" style="padding-top: 40px; padding-bottom: 40px;">
    <% if (events && events.length) { %>
        <% var event=events[0]; %>
    <div class="card-group">
            <div class="card" style="width: 85vw;">
                <div class="card-body">
                    <% if (event.name && event.name!="") { %>
                        <h1 class="card-title"><%= event.name %></h1>
                    <% }else{ %>
                        <h1 class="card-title">NULL</h1>
                    <% }%>
                    <img src="/images/<%= event.poster_url %>" class="rounded" alt="thumbnail of poster" width="286px">
                    <div style="margin-top:20px;"></div>
                    <% if (event.categories && event.categories!="") { %>
                        <p class="card-text">
                            <b>Category : <%= event.categories %> </b>
                        </p>
                    <% }else{ %>
                        <p class="card-text">
                            <b>Category : NULL </b>
                        </p>
                    <% }%>
                    <% if (event.date && event.date!="") { %>
                        <p class="card-text">
                            <b>Date and Time : </b><%= moment(event.date).format('Do MMMM, YYYY, HH:mm'); %>
                        </p>
                    <% }else{ %>
                        <p class="card-text">
                            <b>Date : </b>NULL
                        </p>
                    <% }%>
                    <% if (event.venue && event.venue!="") { %>
                        <p class="card-text">
                            <b>Venue : </b><%= event.venue %>
                        </p>
                    <% }else{ %>
                        <p class="card-text">
                            <b>Venue : </b>NULL
                        </p>
                    <% }%>
                    <% if (event.venue && event.venue!="") { %>
                        <p class="card-text">
                            <b>Description : </b>
                        </p>
                        <div class="card-text">
                            <%- event.description %>
                        </div>
                    <% }else{ %>
                        <p class="card-text">
                            <b>Description : </b>NULL
                        </p>
                    <% }%>
                    <ul class="list-group list-group-flush" >
                        <li class="list-group-item"><b>Participants</b></li>
                        <div style="max-height: 120px; overflow-y: scroll;">
                        <% if ((event.participants) && (event.participants).length) { %>
                        <% (event.participants).forEach((participant) => { %>
                        <li class="list-group-item"><%= participant %></li>
                        <% }) %>
                        <% }else{ %>
                            <li class="list-group-item">NULL</li>
                        <% }%>
                        </div>
                    </ul>
                    <p>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Created at :
                              <span class="badge badge-primary badge-pill"><%= moment(event.createdAt).format('LLL'); %></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Last Updated at :
                              <span class="badge badge-primary badge-pill"><%= moment(event.updatedAt).format('LLL'); %></span>
                            </li>
                          </ul>    
                          <div style="margin-top:20px;"></div>
                          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <% var date = new Date(event.date); date.setDate(date.getDate() + 1); %>
                            <% if ((new Date())<=date) { %>
                                <form method="GET">                   
                                    <div class="btn-group" role="group" >
                                    <a type="button" href="/events/update/<%=event._id%>" class="btn btn-outline-warning">Edit Event Info</a>
                                    </div> 
                                    <div class="btn-group" role="group" >
                                    <a type="button" href="/notify/<%=event._id%>" class="btn btn-outline-success">Notify</a>
                                    </div> 
                                    </form> 
                            <% }%>
                    </div>
                </p>
                </div>
            </div>

    </div>
    <% }else{ %>
        <div class="container">
            <h1 class="display-1">Invalid Event ID</h1>
        </div>
    <% }%>
    </div>
<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>