<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card-body">
        <p>
            <div class="card border-dark mb-3">
                <div class="card-header">Event Summary</div>
                <div class="card-body text-dark">
                <!-- use required format of the following if fields missing -->
                <h5 class="card-title">Category</h5>
                <div class="card-text"><%- blog.category||"NULL" %></div>
                <% if (blog.category==="Talk-show"){%>
                <h5 class="card-title">Chief Guest</h5>
                <p class="card-text"><%= blog.chief_guest||"NULL" %></p>
                <p><img src="/images/<%= blog.chief_guest_url %>" height="200px" width="150px" ></img></p>
                <% } %>
                <% if (blog.category==="Competition"){%>
                <h5 class="card-title">Award Winners</h5>
                <p class="card-text"><%= blog.award_winners||"NULL" %></p>
                <% } %>
                <h5 class="card-title">Summary</h5>
                <div class="card-text"><%- blog.summary||"NULL" %></div>
                <h5 class="card-title">Check out the Video</h5>
                <p class="card-text">
                    <ul class="list-group list-group-flush" >
                        <div style="max-height: 150px; overflow-y: scroll;">
                        <% if ((blog.video_links) && (blog.video_links).length) { %>
                        <% (blog.video_links).forEach((url) => { %>
                            <% if ((url.length)>2) { %>
                                <li class="list-group-item"><a href="<%= url %>"><%= url %></a></li>
                        <% }else{ %>
                            <li class="list-group-item">NULL</li>
                        <% }%>
                        <% }) %>
                        <% }else{ %>
                            <li class="list-group-item">NULL</li>
                        <% }%>
                        </div>
                    </ul>
                  </p>
                  <h5 class="card-title">Gallery</h5>
                  <p class="card-text">
                    <ul class="list-group list-group-flush" >
                        <div style="max-height: 150px; overflow-y: scroll;">
                        <% if ((blog.gallery) && (blog.gallery).length) { %>
                        <% (blog.gallery).forEach((url) => { %>
                        <li class="list-group-item"><img src="/images/<%= url %>"></img></li>
                        
                        <% }) %>
                        <% }else{ %>
                            <li class="list-group-item">NULL</li>
                        <% }%>
                        </div>
                    </ul>
                  </p>
                  <h5 class="card-title">Reference Links</h5>
                  <p class="card-text">
                    <ul class="list-group list-group-flush" >
                        <div style="max-height: 150px; overflow-y: scroll;">
                        <% if ((blog.outside_links) && (blog.outside_links).length) { %>
                        <% (blog.outside_links).forEach((url) => { %>
                            <% if ((url.length)>2) { %>
                                <li class="list-group-item"><a href="<%= url %>"><%= url %></a></li>
                                <% }else{ %>
                                    <li class="list-group-item">NULL</li>
                                <% }%>
                        
                        <% }) %>
                        <% }else{ %>
                            <li class="list-group-item">NULL</li>
                        <% }%>
                        </div>
                    </ul>
                  </p>
                  <h5 class="card-title">Attachments</h5>
                  <p class="card-text">
                    <ul class="list-group list-group-flush" >
                        <div style="max-height: 150px; overflow-y: scroll;">
                        <% if ((blog.file_attachment) && (blog.file_attachment).length) { %>
                        <% (blog.file_attachment).forEach((url) => { %>
                            <% if ((url.length)>2) { %>
                                <li class="list-group-item"><a href="/files/<%= url %>" target="_blank"><%= url %></a></li>
                                <% }else{ %>
                                    <li class="list-group-item">NULL</li>
                                <% }%>
                        
                        <% }) %>
                        <% }else{ %>
                            <li class="list-group-item">NULL</li>
                        <% }%>
                        </div>
                    </ul>
                  </p>
                </div>
              </div>
        </p>

        
        <p>
        <a href="/blog/update/<%=blog._id%>">edit</a>  |  <a href="/blog/delete/<%=blog._id%>">delete</a>
        </p>
    </div>
</div>
</body>
</html>