<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Projects</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
</head>
<body>
    <%- include('partials/navbar_admin') %>
    <div class="container">
    <% if (projects) { %>
    <h2 style="color: blue; text-decoration: underline;"> List of All projects </h2>
    <!-- Template for each project-->
    <div class="card-group">
        <% projects.forEach((project) => { %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= project.title %></h5>
                    </br>
                    <p class="card-text"><b>Club :</b> <%= project.club %></p>
                    <p class="card-text"><b>Branch :</b> <%= project.branch %></p>
                    <p class="card-text"><b>Degree :</b> <%= project.degree %></p>
                    <p class="card-text"><b>Description :</b>
                    </p>
                    <div class="card-text">
                        <%- project.description %>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active"><b>Teams Members</b></a>
                        <% if (project.team_members && project.team_members.length) { %>

                        <% (project.team_members).forEach((person) => { %>
                            <a href="#" class="list-group-item list-group-item-action" ><%=person%></a>
                        <% }) %>
                        <% }else{ %>
                            <p>NULL</p>
                        <% }%>
                      </div>
                      <div class="container-fluid">
                        <div class="row image_container" style="width:100%;">
                            <p class="card-text"><b>Project Snapshots :</b></p>

                            <% if (project.snapshot_url && project.snapshot_url.length) { %>
                            <% (project.snapshot_url).forEach((snap) => { %>
                            <img  src="/images/<%=snap%>" alt="img" height="100px" width="100px" >
                          <% }) %>
                          <% }else{ %>
                              <p>NULL</p>
                          <% }%>

                        </div>
                      </div>
                    <a href="/projects/update/<%=project._id%>">edit</a>  |  <a href="/projects/delete/<%=project._id%>">delete</a>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>
    <% }else{ %>
        <div class="container">
            <h1 class="display-1">No projects created yet</h1>
        </div>
    <% }%>
    </div>
    <div style="text-align: center; margin: 20px; vertical-align: middle;">
        <a href="/projects/create"><span class="material-icons" style="  vertical-align: middle !important; padding-bottom: 3px;">add</span>Add Project</a>
    </div>
        
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
</body>
</html>