<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Clubs</title>
    <%-include('partials/dependencies.ejs')%>    
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%- include('partials/navbar_admin') %>
    <div class="container">
    <h1 class="display-2"> Club Details </h1>
    <!-- Template for each club-->
    <div class="card-group" style="align-content: center;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title mb-4"><%= club.name %></h5>
                    <div style="float: right; margin-right: 40px;">
                        <img src="/images/<%=club.logo_url%>" alt="club_logo" style="margin-left: 100px;" width="150px">
                    </div>
                    <p class="card-text">
                        <h3 class="card-subtitle mb-4 text-muted">Club Head: <%= club_head.name %></h3>
                    </p>
                    <p class="card-text">
                        <b>Email-id : </b><%= club_head.email_id %>
                    </p>
                    <p class="card-text">
                        <b>About : </b>
                    </p>
                    <div class="card-text">
                        <%- club.description %>
                    </div>
                    <% if (club.resources && club.resources!="") { %>
                        <p class="card-text">
                            <a href="<%=club.resources%>" target="_blank">Resources</a>
                        </p>
                    <% } %>
                    <p>
                    <a href="/club/reset/<%=club._id%>" class="btn btn-primary btn-sm">reset</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>