<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    <title>Profile</title>
</head>
<body>
    <%- include('partials/navbar_admin') %>
    <div class="container" style="margin-top: 20vh;" >
        <div class="row">
          <form class="col-md-6 m-auto">
            <div class="form-group">
                <div class="container emp-profile">

                    <div class="col-4 d-flex justify-content-center">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">        
                            <h1>Admin</h1>
                            <br><br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%=admin.name%></p>
                                </div>
                            </div>    
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User Id</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%=admin.user_id%></p>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%=admin.email_id%></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Contact</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%=admin.contact%></p>
                                </div>
                            </div>
                                </div>
                            </div>
                </div>
            </div>
                    <div class="btn-group" role="group" aria-label="First group">
                        <form>
                            <a href="/admin/password/change" class="btn btn-outline-danger">Change Pasword</a>
                            <a href="/admin/profile/update" class="btn btn-outline-primary">Update Profile</a>
                        </form> 
                    </div>
          </form>   
        </div>
      </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="  crossorigin="anonymous"></script>
</body>
</html>