<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <%-include('partials/dependencies.ejs')%>    
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%- include('partials/navbar_clubhead') %>

    <div class="container h-100">

        <div class="row h-100 justify-content-center align-items-center">
          <form class="col-12">
            <div class="form-group">
                <div class="container emp-profile">
                    <div class="col-4 d-flex justify-content-center">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">        
                                <h1><%=user.club_name%></h1>
                                <br><br>
                                <div class="row">
                                    <img src="/images/<%=user.dp_url%>" alt="profile_pic" style="width: 50px;" >
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%=user.name%></p>
                                    </div>
                                </div>    
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%=user.user_id%></p>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%=user.email_id%></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Contact</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%=user.contact%></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Description</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%=user.bio%></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="btn-group" role="group" aria-label="First group">
                        <form method="post">
                        <a href='/club_head/password/change/' class="btn btn-outline-primary">Change Password</a>
                        <a href='/club_head/profile/update' class="btn btn-outline-primary">Update Profile</a>
                    </form> 

                    </div>
          </form>   
        </div>
      </div>

<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>