<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Projects</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div>
        <form method="POST" style="position: fixed; left: 0; top:0; padding: 10px;" action="/admin/" >
                 <button type="submit" class='btn btn-outline-info btn-sm'>HOME</button> 
            </form>
        </div>
    <div class="container">
    <% if (projects && projects.length) { %>
    <h2 style="color: blue; text-decoration: underline;"> List of All projects </h2>
    <!-- Template for each project-->
    <div class="card-group">
        <% projects.forEach((project) => { %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= project.title %></h5>
                    </br>
                    <p class="card-text"><b>Club :</b> <%= project.description %></p>
                    <p class="card-text"><b>Branch :</b> <%= project.branch %></p>
                    <p class="card-text"><b>Degree :</b> <%= project.degree %></p>
                    <p class="card-text"><b>Description :</b> <%= project.description %></p>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active"><b>Teams Members</b></a>
                        <% if (project.team_members && project.team_members.length) { %>

                        <% (project.team_members).forEach((person) => { %>
                            <a href="#" class="list-group-item list-group-item-action" ><%=person%></a>
                        <% }) %>
                        <% }else{ %>
                            <p>NULL</p>
                        <% }%>
                      </div>
                      <div class="container-fluid">
                        <div class="row image_container" style="width:100%;">
                            <p class="card-text"><b>Project Snapshots :</b></p>

                            <% if (project.snapshot_url && project.snapshot_url.length) { %>
                            <% (project.snapshot_url).forEach((snap) => { %>
                            <img  src="/image/<%=snap%>" alt="img" height="100px" width="100px" >
                          <% }) %>
                          <% }else{ %>
                              <p>NULL</p>
                          <% }%>

                        </div>
                      </div>
                    <a href="/admin/projects/update/<%=project._id%>">edit</a>  |  <a href="/admin/projects/delete/<%=project._id%>">delete</a>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>
    <% }else{ %>
        <div class="container">
            <h1 class="display-1">No projects created yet</h1>
        </div>
    <% }%>
    </div>
    <div style="text-align: center; margin: 20px; vertical-align: middle;">
        <a href="/admin/create_project/<%=_id%>"><span class="material-icons" style="  vertical-align: middle !important; padding-bottom: 3px;">add</span>Add Project</a>
    </div>
        
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>