<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title>Profile</title>
</head>
<body>
    <div class="container h-100">
         <div>
        <form method="GET" style="position: fixed; left: 0; top:0; padding: 10px;" action="/logout/" >
                 <button type="submit" class='btn btn-outline-danger btn-sm'>LOGOUT</button> 
            </form>
        </div>

        <div class="row h-100 justify-content-center align-items-center">
          <form class="col-12">
            <div class="form-group">
                <div class="container emp-profile">
                    <div class="col-4 d-flex justify-content-center">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">        
                                <h1><%=club_name%></h1>
                                <br><br>
                                <div class="row">
                                    <img src='/image/<%=dp_url%>' alt="profile_pic" style="width: 50px;" >
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%=name%></p>
                                    </div>
                                </div>    
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%=user_id%></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Password</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%=pswd%></p>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%=email_id%></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Contact</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%=contact%></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Desciption</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%=bio%></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="btn-group" role="group" aria-label="First group">
                        <form method="post">
                        <a href='/users/profile/' class="btn btn-outline-primary">Update Profile</a>
                        <a href="/users/add_event/" class="btn btn-outline-danger">Create Event</a>
                        <a href="/users/events/retrieve/" class="btn btn-outline-warning">View Events</a>
                    </form> 

                    </div>
          </form>   
        </div>
      </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>