<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%-include('partials/dependencies.ejs')%>    
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%- include('partials/navbar_admin') %>
    <div class="container">
        <h1 class="display-3">Assign new Club-Head</h1>
    <form action="/club/reset/<%=club_id%>" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email_id" placeholder="enter club-head email-id" aria-describedby="emailHelp" name="email_id" required>
            <small id="emailHelp" class="form-text text-muted">Note: Club head must exist priorto formation of any new club</small>
        </div>
        <button type="submit" class="btn btn-info">Assign!</button>
    </form>
    </div>

<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>