<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Event Summary</title>
  </head>
  <body>
    <h3 style="text-align: center; text-decoration: underline; padding-top: 30px;">Event Summary</h3>
    <!-- gallery : [String],                           // will contain url of the uploaded images in simple array
        chief_guest : {type:String},
        award_winners : {type:String},
        summary : {type:String},
        outside_links : [String],
        file_attachment : [String],
        video_links : {type:String} -->
    <div class="container" style="padding-top:30px;">
        <div class="col-md-5 m-auto">
        <form action="/blog/update/<%=id%>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
            <label>Chief Guest</label>
            <input class="form-control" name="chief_guest" value="<%=summary.chief_guest||'NULL'%>"></input>
            </div>
            <div class="form-group">
                <label>Award Winners</label>
                <input class="form-control" name="award_winners" value="<%=summary.award_winners||'NULL'%>"></input>
            </div>
            <div class="form-group">
                <label>Summary</label>
                <textarea class="form-control" name="summary" rows="4" placeholder="Provide a short summary..."><%=summary.summary||"NULL"%></textarea>
            </div>
            <!-- for now these next 2 fields are not prefilled so that script isnt disturbed just for ejs but do execute logic on frontend -->
            <div class="form-group">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <table class="table table-bordered table-hover" id="tab_logic">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            #
                                        </th>
                                        <th class="text-center">
                                            File attachments
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id='addr0'>
                                        <td>1</td>
                                        <td>
                                        <input type="text" name='file_attachment[]'  placeholder='Links to docs/files' class="form-control"/>
                                        </td>
                                    </tr>
                                    <tr id='addr1'></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button type="button" id="add_row" class="btn btn-default pull-left">Add Row</button><button id='delete_row' class="pull-right btn btn-default">Delete Row</button>
                </div>
            </div>
            <div class="form-group">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <table class="table table-bordered table-hover" id="tab_logic2">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            #
                                        </th>
                                        <th class="text-center">
                                            External Links
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id='addr20'>
                                        <td>1</td>
                                        <td>
                                        <input type="text" name='outside_links[]'  placeholder='Provide links to google docs/ uploads' class="form-control"/>
                                        </td>
                                    </tr>
                                    <tr id='addr21'></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button type="button" id="add_row2" class="btn btn-default pull-left">Add Row</button><button id='delete_row2' class="pull-right btn btn-default">Delete Row</button>
                </div>
            </div>
            <!-- <div class="form-group">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <table class="table table-bordered table-hover" id="tab_logic3">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            #
                                        </th>
                                        <th class="text-center">
                                            Video Links
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id='addr30'>
                                        <td>1</td>
                                        <td>
                                        <input type="text" name='video_links[]'  placeholder='Provide any video-links if present' class="form-control"/>
                                        </td>
                                    </tr>
                                    <tr id='addr31'></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button type="button" id="add_row3" class="btn btn-default pull-left">Add Row</button><button id='delete_row3' class="pull-right btn btn-default">Delete Row</button>
                </div>
            </div> -->
            <div class="form-group">
                <label>Video Links</label>
                <input class="form-control" name="video_links" placeholder="Provide link to a video if any.." value="<%=summary.video_links||'NULL'%>"></input>
            </div>
            <div class="form-group">
                <label>Upload Photos</label>
                <input type="file" accept='image/*' name="gallery[]" class="form-control-file" multiple>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-bottom: 5px;">Update Summary</button>
        </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            var i=1;
            $("#add_row").click(function(){b=i-1;
            $('#addr'+i).html($('#addr'+b).html()).find('td:first-child').html(i+1);
            $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
            i++; 
            });
            $("#delete_row").click(function(){
                if(i>1){
                $("#addr"+(i-1)).html('');
                i--;
                }
            });
        });
        $(document).ready(function(){
                var j=1;
                $("#add_row2").click(function(){b=j-1;
                $('#addr2'+j).html($('#addr2'+b).html()).find('td:first-child').html(j+1);
                $('#tab_logic2').append('<tr id="addr2'+(j+1)+'"></tr>');
                j++; 
                });
                $("#delete_row2").click(function(){
                    if(j>1){
                    $("#addr2"+(j-1)).html('');
                    j--;
                    }
                });
        });
        // if ever deside video links should be an array
        // $(document).ready(function(){
        //         var j=1;
        //         $("#add_row3").click(function(){b=j-1;
        //         $('#addr3'+j).html($('#addr3'+b).html()).find('td:first-child').html(j+1);
        //         $('#tab_logic3').append('<tr id="addr3'+(j+1)+'"></tr>');
        //         j++; 
        //     });
        //         $("#delete_row3").click(function(){
        //             if(j>1){
        //             $("#addr3"+(j-1)).html('');
        //             j--;
        //             }
        //         });
            
        // });
    </script>
 </body>
</html>