<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Project</title>
      <%-include('partials/dependencies.ejs')%>    
</head>
  <body>    
  <%-include('partials/alert_system.ejs')%>
    <style>
        input[type="file"] {
        display: block;
        }
        .imageThumb {
        height: 100px;
        width: 100px;
        border: 2px solid;
        padding: 1px;
        cursor: pointer;
        }
        .pip {
        display: inline-block;
        margin: 10px;
        }
        .remove {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
        }
        .remove:hover {
        background: white;
        color: black;
        }
        #snapholder{
            height:auto;
            min-height:50px;
            height:auto !important;  /* for IE as it does not support min-height */
        }
    </style>
    <%- include('partials/navbar_admin') %>
    <h3 style="text-align: center; text-decoration: underline; padding-top: 30px;">Update Project</h3>
    <div class="container" style="padding-top:30px;">
        <div class="col-md-5 m-auto">
        <form enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" name="title" placeholder="Enter Title of Project" value="<%=project.title%>" required/>
        </div>
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <table class="table table-bordered table-hover" id="tab_logic">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        #
                                    </th>
                                    <th class="text-center">
                                        Name
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% var i; %>
                                <% for ( i=0 ; i < project.team_members.length ; i++ ){ %>

                                <tr id='addr<%=i%>'>
                                    <td><%=i+1%></td>
                                    <td>
                                    <input type="text" name='team_member[]'  placeholder='Enter Team Members Name' class="form-control" value="<%=project.team_members[i]||''%>"/>
                                    </td>
                                </tr>
                                <%  }  %>
                                <tr id='addr<%=i%>'></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button type="button" id="add_row" class="btn btn-default pull-left">Add Row</button><button id='delete_row' class="pull-right btn btn-default">Delete Row</button>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="3"  name="description" placeholder="Describe the project" ><%=project.description%></textarea>
            </div>

            <div class="form-group">
            <label>Branch</label>
            <input class="form-control" name="branch" value="<%=project.branch%>" placeholder="Enter Branch"/>
            </div>
            <div class="form-group">
                <label>Club</label>
                <input class="form-control" name="club" value="<%=project.club%>" placeholder="Enter Club"/>
            </div>
            <div class="form-group">
                <label for="degree">Degree :</label>
                <option value="none" selected disabled hidden> 
                    Select Degree 
                </option> 
                <select name="degree" id="degree" >
                <option value="Btech">Btech</option>
                <option value="Mtech">Mtech</option>
                <option value="Phd">Phd</option>
                </select>
            </div>
            <input style="display: none;" name="id" value="<%=project.degree%>"/>
            <!-- <input style="display: none;" id="ignore" name="ignore" value=""/> -->
            <div class="field">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            Uploaded Images
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% (project.snapshot_url).forEach(function(url){ %>
                                    <tr>
                                    <td>
                                        <img src="/images/<%= url %>" alt="image" width="100px" height="100px">
                                        <input style="display: none;" class="form-control" value="<%=url%>" name='pics_url_links[]'/>
                                    </td>
                                        <td><button class="updaterow">Remove</button></td>
                                    </tr>
                                    <%  });  %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <label>Upload snapshots</label>
                <% imageh_name="snapshot_url[]" %>
                <%-include('partials/multi_image_handler.ejs')%>
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <input style="display: none;" class="form-control" value='<%- JSON.stringify(project.documentIDs) %>' name='documentIDs'/>
    </form>
        </div>
    </div>
    <script>		
        $(document).ready(function(){
              var j=1;
             $("#add_row2").click(function(event){event.preventDefault();b=j-1;
              $('#addr2'+j).html($('#addr2'+b).html()).find('td:first-child').html(j+1);
              $('#tab_logic2').append('<tr id="addr2'+(j+1)+'"></tr>');
              j++; 
          });
             $("#delete_row2").click(function(event){event.preventDefault();
                 if(j>1){
                 $("#addr2"+(j-1)).html('');
                 j--;
                 }
             });
        });
    $(document).ready(function(){
      var i=1;
      i=$("#tab_logic tr").length-2;
     $("#add_row").click(function(event){event.preventDefault();
        b=i-1;
      $('#addr'+i).html($('#addr'+b).html()).find('td:first-child').html(i+1);
      $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
      i++; 
    });
     $("#delete_row").click(function(event){event.preventDefault();
    	 if(i>1){
		 $("#addr"+(i-1)).html('');
		 i--;
		 }
	 });
    });
    CKEDITOR.replace('description');
    $(document).ready(function(){
        $(".updaterow").click(function(event){event.preventDefault();
                $(event.target).parent().parent().remove();
        });
        });
    </script>
  <%- include('partials/bottom_spacing.ejs') %>
</body>
</html>