<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Achievement</title>
    <%-include('partials/dependencies.ejs')%>    
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%- include('partials/navbar_admin') %>
    <div class="container">
        <div class="row">
        <div class="col-8">
            <div>
                <h2>Update Achievement</h2>
                <hr class="my-4">
            </div>
        <form method="POST" enctype="multipart/form-data" action="/achievements/update/<%=ach._id%>">
            <div class="form-group">
                <label for="title">Title:</label>
                <input class="form-control" type="text" name="title" id="title" value="<%=ach.title%>" ><br>
            </div>
            <div class="form-group">
                <label for="caption">Caption:</label><br>
                <input class="form-control" type="text" name="caption" id="caption" value="<%=ach.caption%>" >
            </div>
            <div class="form-group">
                <label for="des">Description:</label>
                <textarea class="form-control" type="text" name="des" id="des" rows="4" placeholder="Describe about the achievement..."><%=ach.description%></textarea>
            </div>
            <div class="form-group">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            Uploaded Images
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% (ach.pics_url).forEach(function(url){ %>
                                    <tr>
                                    <td>
                                        <img src="/images/<%= url %>" alt="image" width="100px" height="100px">
                                        <input style="display: none;" class="form-control" value="<%=url%>" name='pics_url_links[]'>
                                    </td>
                                        <td><button class="updaterow">Remove</button></td>
                                    </tr>
                                    <%  });  %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <label>Upload Photos</label>
                <% imageh_name="pics" %>
                <%-include('partials/multi_image_handler.ejs')%>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="UPDATE">
            </div> 
            <input style="display: none;" class="form-control" value='<%- JSON.stringify(ach.documentIDs) %>' name='documentIDs'>
            <input style="display: none;" class="form-control" value='<%- JSON.stringify(ach.keywords) %>' name='tags'>
        </form>
        </div>
        </div>
    </div>
    <script>
                var editor = CKEDITOR.replace('des');
        editor.on( 'required', function( evt ) {
                editor.showNotification( 'This field is required.', 'warning' );
                evt.cancel();
        });
        $(document).ready(function(){
        $(".updaterow").click(function(event){event.preventDefault();
                $(event.target).parent().parent().remove();
        });
        });
    </script>
    <%- include('partials/image_compressor.ejs') %>
    <%- include('partials/bottom_spacing.ejs') %>
</body>
</html>