<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Event</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="column-2">
                <form method="POST" style="position: relative; left: 0; top:0; padding: 10px;" action="/clubhead/" >
                 <button type="submit" class='btn btn-outline-info btn-sm'>HOME</button> 
                 </form>        
            </div>
            <div class="column-2">
                 <form method="GET" style="position: relative; left:20; top:0; padding: 10px;" action="/events/view_all" >
                 <button type="submit" class='btn btn-outline-info btn-sm'>ALL Events</button> 
                    </form>         
            </div>
       
        </div>
    </div>
    <div class="container">
        <div class="row">
        <div class="col-8">
            <div>
                <h2>Update Event</h2>
                <hr class="my-4">
            </div>
        <form method="POST" action="/events/update/<%=events._id%>" enctype="multipart/form-data">
            <div class="form-group">
                <label for="event_name">Event name:</label>
                <input class="form-control" type="text" name="event_name" id="event_name" value="<%=event.name%>" ><br>
            </div>
            <div class="form-group">
                <label for="event_date">Date:</label>
                <input type="date" name="event_date" id="event_date" value="<%= moment(event.date).format('YYYY-MM-DD');%>" >
            </div>
            <div class="form-group">
                <label for="event_venue">Venue:</label>
                <input class="form-control" type="text" name="event_venue" id="event_venue" value="<%=event.venue%>" >
            </div>
            <div class="form-group">
                <p>Poster:</p>
                <img src="/image/<%= event.poster_url %>" class="rounded" alt=" No File Selected " height="100px" style="margin-bottom: .5rem;">
                <input type="file" name="poster" id="poster" accept='image/*' style="display:none;"/>
                <label for="poster" class="btn btn-secondary" style="height: 100px; max-width: 100px; padding-top:25px; ">Update Poster</label>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <!-- <input class="form-control" type="text" name="categories" id="categories"required> -->

                    <label for="categories">Category :</label>
                    <select name="categories" id="categories" required>
                    <option value="none" selected disabled hidden> 
                        Select Category 
                    </option> 
                    <%
                        var options = [ "Workshop", "Competition", "Talk-show"];
                        for ( var i = 0; i < options.length; i++ )
                        {
                            var selected = ( options[i] == event.categories ) ? "selected" : "";
                            %><option value="<%=options[ i ] %>" <%=selected %>><%= options[i] %></option><%
                        }
                    %>
                    <!-- <option value="Workshop">Workshop</option>
                    <option value="Competition">Competition</option>
                    <option value="">Talk-show</option> -->
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
            <textarea class="form-control" type="text" name="description" id="description" rows="4"><%=event.description%></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="UPDATE"/>
            </div>  
        </form>
        </div>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>