<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Achievement</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%- include('partials/navbar_admin') %>
    <div class="container">
        <div class="row">
        <div class="col-8">
            <div>
                <h2>Update Achievement</h2>
                <hr class="my-4">
            </div>
        <form method="POST" enctype="multipart/form-data" action="/achievements/update/<%=ach._id%>">
            <div class="form-group">
                <label for="title">Title:</label>
                <input class="form-control" type="text" name="title" id="title" value="<%=ach.title%>" ><br>
            </div>
            <div class="form-group">
                <label for="caption">Caption:</label><br>
                <input class="form-control" type="text" name="caption" id="caption" value="<%=ach.caption%>" >
            </div>
            <div class="form-group">
                <label for="des">Description:</label>
                <textarea class="form-control" type="text" name="des" id="des" rows="4" placeholder="Describe about the achievement..."><%=ach.description%></textarea>
            </div>
            <div class="form-group">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            Uploaded Images
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% (ach.pics_url).forEach(function(url){ %>
                                    <tr>
                                    <td>
                                        <img src="/images/<%= url %>" alt="image" width="100px" height="100px">
                                        <input style="display: none;" class="form-control" value="<%=url%>" name='pics_url_links[]'/>
                                    </td>
                                        <td><button class="updaterow">Remove</button></td>
                                    </tr>
                                    <%  });  %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <label>Upload Photos</label>
                <input type="file" accept='image/*' name="pics" class="form-control-file" multiple>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="UPDATE"/>
            </div> 
            <input style="display: none;" class="form-control" value='<%- JSON.stringify(ach.documentIDs) %>' name='documentIDs'/>
        </form>
        </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="  crossorigin="anonymous"></script>
    <script>
        CKEDITOR.replace('des');
        $(document).ready(function(){
        $(".updaterow").click(function(event){event.preventDefault();
            console.log(event);
                $(event.target).parent().parent().remove();
        });
        });
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>