<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Club</title>
      <%-include('partials/dependencies.ejs')%>    
</head>
  <body>    
  <%-include('partials/alert_system.ejs')%>
    <%-include('partials/navbar_clubhead.ejs')%> <br><br>
    <h3 style="text-align: center; text-decoration: underline; padding-top: 30px;">Update Club</h3>

    <div class="container" style="padding-top:30px;">
        <div class="col-md-10 m-auto">
        <form method="POST" enctype="multipart/form-data" action="/club/update/">

        <div class="form-group">
          <label>Club Name</label>
          <input class="form-control" name="name" placeholder="Enter Club name here" value="<%=club.name%>" required>
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" required name="description" rows="3" placeholder="Provide Club description..."><%=club.description%></textarea>
        </div>
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Resources Link</label>
          <div class="col-sm-10">
            <input type="url" name="resources" value="<%=club.resources%>" class="form-control">
            <% if (club.resources && club.resources!="") { %>
              <p class="card-text">
                  <a href="<%=club.resources%>" target="_blank" style="margin-top: 15px;">test above link</a>
              </p>
            <% } %>
          </div>
        </div>
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Github Link</label>
          <div class="col-sm-10">
            <input type="url" name="github" value="<%=club.github%>" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Instagram handle</label>
          <div class="col-sm-10">
            <input type="url" name="instagram" value="<%=club.instagram%>" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Facebook handle</label>
          <div class="col-sm-10">
            <input type="url" name="facebook" value="<%=club.facebook%>" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Youtube Channel Link</label>
          <div class="col-sm-10">
            <input type="url" name="youtube" value="<%=club.youtube%>" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Linkedin</label>
          <div class="col-sm-10">
            <input type="url" name="linkedin" value="<%=club.linkedin%>" class="form-control">
          </div>
        </div>
        <div class="form-group">
            <img src="/images/<%=club.logo_url%>" id="preview" class="rounded" alt=" No File Selected " height="100px" style="margin-bottom: .5rem;">
            <input type="file" name="logo" id="logo" accept='image/*' onchange="imageCompressor(event);" style="display:none;">
            <label for="logo" class="btn btn-secondary" style="height: 100px; max-width: 100px; padding-top:25px; ">Upload Logo</label>
        </div>
        <input type="submit" class="btn btn-primary" value="Update">

        </form>
        </div>
    </div>
    <script>
        function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#preview').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
        }
        $("#logo").change(function(){
            readURL(this);
        });
    </script>
    <script>
            var editor = CKEDITOR.replace('description');
        editor.on( 'required', function( evt ) {
                editor.showNotification( 'This field is required.', 'warning' );
                evt.cancel();
        });;
    </script>
    <%- include('partials/image_compressor.ejs') %>
    <%- include('partials/bottom_spacing.ejs') %>
</body>
</html>