<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Event</title>
    <%-include('partials/dependencies.ejs')%> 
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/browser-image-compression@latest/dist/browser-image-compression.js"></script>       
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%-include('partials/navbar_clubhead.ejs')%>
    <div class="container">
        <div class="row">
        <div class="col-8">
            <div>
                <h2>Update Event</h2>
                <hr class="my-4">
            </div>
        <form method="POST" action="/events/update/<%=event._id%>" enctype="multipart/form-data">
            <div class="form-group">
                <label for="event_name">Event name:</label>
                <input class="form-control" type="text" name="event_name" id="event_name" value="<%=event.name%>" ><br>
            </div>
            <div class="form-group">
                <label for="event_date">Date and Time:</label>
                <input type="datetime-local" name="event_date" id="event_date" value="<%= moment(event.date).format('YYYY-MM-DDThh:mm');%>" required >
            </div>
            <div class="form-group">
                <label for="event_venue">Venue:</label>
                <input class="form-control" type="text" name="event_venue" id="event_venue" value="<%=event.venue%>" >
            </div>
            <div class="form-group">
                <p>Poster:</p>
                <img src="/images/<%= event.poster_url %>" class="rounded" id="poster_preview" alt=" No File Selected " height="100px" style="margin-bottom: .5rem;">
                <input type="file" name="poster" id="poster" accept='image/*' onchange="imageCompressor(event);" style="display:none;"/>
                <label for="poster" class="btn btn-secondary" style="height: 100px; max-width: 100px; padding-top:25px; ">Update Poster</label>
            </div>
            <div class="form-group">
                    <!-- <input class="form-control" type="text" name="categories" id="categories"required> -->

                    <label for="categories">Category :</label>
                    <select name="categories" id="categories" required>
                    <option value="none" selected disabled hidden> 
                        Select Category 
                    </option> 
                    <%
                        var options = [ "Workshop", "Competition", "Talk-show","Activity"];
                        for ( var i = 0; i < options.length; i++ )
                        {
                            var selected = ( options[i] == event.categories ) ? "selected" : "";
                            %><option value="<%=options[ i ] %>" <%=selected %>><%= options[i] %></option><%
                        }
                    %>
                    <!-- <option value="Workshop">Workshop</option>
                    <option value="Competition">Competition</option>
                    <option value="">Talk-show</option> -->
                    </select>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
            <textarea class="form-control" type="text" name="description" id="description" rows="4"><%=event.description%></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="UPDATE"/>
            </div> 
            <input style="display: none;" class="form-control" value='<%- JSON.stringify(event.documentIDs) %>' name='documentIDs'/> 
        </form>
        </div>
        </div>
    </div>
    <script>
    function readPosterURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $("#poster_preview").attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
    }

    $('#poster').change(function(){
        readPosterURL(this);
    })
        async function imageCompressor(event) {
            $(':input[type="submit"]').prop('disabled', true);
            const imageFile = event.target.files[0];
            const options = {
            maxSizeMB: 1,
            maxWidthOrHeight: 1920,
            useWebWorker: true
            }
            try {
                const compressedFile = await imageCompression(imageFile, options);
                // console.log(`compressedFile size ${compressedFile.size / 1024 / 1024} MB`);
                let file=new File([compressedFile],compressedFile.name);
                const dt = new DataTransfer()
                dt.items.add(file)
                document.getElementById(event.target.id).files=dt.files;
                $(':input[type="submit"]').prop('disabled', false);
            } catch (error) {
                console.log(error);
            }
        }
        $(function(){
            var today = new Date();
            var month = today.getMonth() + 1;
            var day = today.getDate();
            var year = today.getFullYear();
            if(month < 10)
                month = '0' + month.toString();
            if(day < 10)
                day = '0' + day.toString();
            var maxDate = year + '-' + month + '-' + day;
            $('#event_date').attr('min', maxDate);
        });
    </script>
    <script>
    CKEDITOR.replace('description');
    </script>
<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>