<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="  crossorigin="anonymous"></script>
    <title>Update Project</title>
  </head>
  <body>
    <style>
        input[type="file"] {
        display: block;
        }
        .imageThumb {
        height: 100px;
        width: 100px;
        border: 2px solid;
        padding: 1px;
        cursor: pointer;
        }
        .pip {
        display: inline-block;
        margin: 10px;
        }
        .remove {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
        }
        .remove:hover {
        background: white;
        color: black;
        }
        #snapholder{
            height:auto;
            min-height:50px;
            height:auto !important;  /* for IE as it does not support min-height */
        }
    </style>
    <%- include('partials/navbar_admin') %>
    <h3 style="text-align: center; text-decoration: underline; padding-top: 30px;">Update Project</h3>
    <div class="container" style="padding-top:30px;">
        <div class="col-md-5 m-auto">
        <form enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" name="title" placeholder="Enter Title of Project" value="<%=project.title%>" required/>
        </div>
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <table class="table table-bordered table-hover" id="tab_logic">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        #
                                    </th>
                                    <th class="text-center">
                                        Name
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% var i; %>
                                <% for ( i=0 ; i < project.team_members.length ; i++ ){ %>

                                <tr id='addr<%=i%>'>
                                    <td><%=i+1%></td>
                                    <td>
                                    <input type="text" name='team_member[]'  placeholder='Enter Team Members Name' class="form-control" value="<%=project.team_members[i]||''%>"/>
                                    </td>
                                </tr>
                                <%  }  %>
                                <tr id='addr<%=i%>'></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button type="button" id="add_row" class="btn btn-default pull-left">Add Row</button><button id='delete_row' class="pull-right btn btn-default">Delete Row</button>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="3"  name="description" placeholder="Describe the project" ><%=project.description%></textarea>
            </div>

            <div class="form-group">
            <label>Branch</label>
            <input class="form-control" name="branch" value="<%=project.branch%>" placeholder="Enter Branch"/>
            </div>
            <div class="form-group">
                <label>Club</label>
                <input class="form-control" name="club" value="<%=project.club%>" placeholder="Enter Club"/>
            </div>
            <div class="form-group">
                <label for="degree">Degree :</label>
                <option value="none" selected disabled hidden> 
                    Select Degree 
                </option> 
                <select name="degree" id="degree" >
                <option value="Btech">Btech</option>
                <option value="Mtech">Mtech</option>
                <option value="Phd">Phd</option>
                </select>
            </div>
            <input style="display: none;" name="id" value="<%=project.degree%>"/>
            <!-- <input style="display: none;" id="ignore" name="ignore" value=""/> -->
            <div class="field">
                <label>Upload snapshots</label>
                <% for (var i=0 ; i < project.snapshot_url.length ; i++ ){ %>
                       
                        <img src="/images/<%=project.snapshot_url[i]%>" class="rounded" alt=" No File Selected " height="100px" style="margin-bottom: .5rem;">
                  <%  }  %>
                
                <input type="file" id="snapshot_url" accept='image/*' name="snapshot_url[]" multiple />
                <div id="snapholder">

                </div>
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
        </div>
    </div>
    <script>		
        $(document).ready(function(){
              var j=1;
             $("#add_row2").click(function(event){event.preventDefault();b=j-1;
              $('#addr2'+j).html($('#addr2'+b).html()).find('td:first-child').html(j+1);
              $('#tab_logic2').append('<tr id="addr2'+(j+1)+'"></tr>');
              j++; 
          });
             $("#delete_row2").click(function(event){event.preventDefault();
                 if(j>1){
                 $("#addr2"+(j-1)).html('');
                 j--;
                 }
             });
        
        });
    $(document).ready(function(){
      var i=1;
      i=$("#tab_logic tr").length-2;
     $("#add_row").click(function(event){event.preventDefault();
        b=i-1;
      $('#addr'+i).html($('#addr'+b).html()).find('td:first-child').html(i+1);
      $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
      i++; 
    });
     $("#delete_row").click(function(event){event.preventDefault();
    	 if(i>1){
		 $("#addr"+(i-1)).html('');
		 i--;
		 }
	 });
    });
    function createListItem(e, filet) {
            $("#snapholder").append(
                "<span class=\"pip\">" +
                "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + filet.name + "\"/>" +
                "<br/><span class=\"remove\">Remove </span>" +
                "</span>"
                );
            $(".remove").off("click");
            $(".remove").click(function(event){event.preventDefault();
                let title=($(this).parent(".pip").children("img")[0]);
                title=(title.getAttribute("title"));
                $(this).parent(".pip").remove();
                const dt = new DataTransfer()
                let files=$("#snapshot_url").prop('files');
                for (let file of files){
                    if (file.name !== title) 
                    dt.items.add(file)
                    document.getElementById("snapshot_url").files=dt.files;
                }
            });
        }
        $(document).ready(function() {
        $("#snapshot_url").on("change", function(e) {
        $(".pip").remove();
        // $('#ignore').val("");
        var files = e.target.files,
            filesLength = files.length;
        for (var i = 0; i < filesLength; i++) {
            var f = files[i]
            var fileReader = new FileReader();
            let id=i;
            fileReader.onloadend=(function(file){
                return function(evt){
                    createListItem(evt, file)
                }
            })(f);
            fileReader.readAsDataURL(f);  
        }
        });
         });
    </script>
    <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
    <script>
    CKEDITOR.replace('description');
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
  <%- include('partials/bottom_spacing.ejs') %>
</body>
</html>