<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Achievements</title>
    <%-include('partials/dependencies.ejs')%>    
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%- include('partials/navbar_admin') %>
    <div class="container">
    <% if (achievements && achievements.length) { %>
    <h2 style="color: blue; text-decoration: underline;"> List of All Achievements </h2>
    <!-- Template for each achievement-->
    <div class="card-group" style="align-content: center;">
        <% achievements.forEach((achievement) => { %>
            <div class="card" style="width: 18rem;">
                <div class="row">

                <% if (achievement.pics_url && achievement.pics_url.length) { %>
                    <% (achievement.pics_url).forEach((pic) => { %>
                        <div class="col-md-2">
                        <img  src="/images/<%=pic%>" alt="img" height="100px" width="100px" class="img-fluid">
                        </div>
                  <% }) %>
                  <% }%>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= achievement.title %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= achievement.caption %></h6>
                    <div class="card-text">
                        <%- achievement.description %>
                    </div>
                    <p>
                    <a href="/achievements/update/<%=achievement._id%>">edit</a>  |  <a href="/achievements/delete/<%=achievement._id%>">delete</a>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>
    <% }else{ %>
        <div class="container">
            <h1 class="display-2">No achievements exist yet</h1>
        </div>
    <% }%>
    <div style="text-align: center; margin-top: 20px;">
        <a href="/achievements/create/"><span class="material-icons">add</span>Add achievements</a>
        </div>
    </div>

<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>