<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View News</title>
    <%-include('partials/dependencies.ejs')%>    
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%-include('partials/navbar_admin')%> <br><br>

   <div class="container">
    <% if(newss && newss.length) { %>
        <h3 style="text-align: center; text-decoration: underline; padding-top: 30px;">Current news</h3>
        <a class="btn btn-warning" href="/news/create" style="margin-left: 20px;" role="button">Post News</a>
            <div class="card-deck" style="margin-top: 10px;">
                <% newss.forEach((news)=>{ %>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-text">
                                <%= news.snippet%>
                            </p>
                            <p class="card-text"><small class="text-muted">Last updated <%= moment(news.updatedAt).startOf('month').fromNow(); %></small></p>
                        </div>
                        <p style="text-align: center;">
                            <a href="/news/update/<%=news._id%>">edit</a> | <a href="/news/delete/<%=news._id%>">delete</a>
                        </p>

                    </div>

               <% }) %>
            </div>
        <% } else { %>
            <div class="container">
                <h1 class="display-5">No News exist yet</h1>
            </div>
            <div >
                <a class="btn btn-warning" href="/news/create" style="margin-left: 20px;" role="button">Post News</a>
            </div>
       <% } %>

   </div>
<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>