<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Events</title>
    <%-include('partials/dependencies.ejs')%>    
</head>
<style>
.card{
transition: transform .5s ease 0s;
}
.card:hover, .card:focus {
  transform: scale3d(1.02, 1.02, 1);
}
.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}

</style>
<body style="background-color: #F8F9FA;">
    <div class="py-5">
      <div class="container">
        <div class="row hidden-md-up">
            <div class="card-columns">
                <% if (contests && contests.length) { %>
                    <% contests.forEach((contest) => { %>
                          <div class="card">
                            <img class="card-img-top" src="https://previews.123rf.com/images/epicfail/epicfail1705/epicfail170500001/79138516-flat-style-thin-line-banner-design-of-coding.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h4 class="card-title"><%=contest.title%></h4>
                              <h6 class="card-subtitle text-muted"><%=contest.description%></h6>
                              <p class="card-text p-y-1">
                                <h6 class="card-subtitle text-muted">Contest Begins:</h6>

                                        <span class="badge badge-warning badge-pill"><%= moment(contest.start).format('LLL'); %></span>
                              </p>
                              <p class="card-text p-y-1">
                                <h6 class="card-subtitle text-muted">Contest Ends:</h6>

                                <span class="badge badge-danger badge-pill"><%= moment(contest.start).format('LLL'); %></span>
                              </p>
                              <a href="<%=contest.url%>" target="_blank" class="stretched-link"></a>
                            </div>
                          </div>
                    <% }) %>
                  
                    <% }else{ %>
                      <div class="container">
                          <h1 class="display-5">Come back later for more juicy big brain events</h1>
                          <br>  
                      </div>
                  <% }%>
          </div>
        </div>
      </div>
    </div>
  </body>

<%- include('partials/bottom_spacing.ejs') %>
</html>