<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Achievements</title>
    <%-include('partials/dependencies.ejs')%>    
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%- include('partials/navbar_admin') %>
    <div class="container">
        <a href="/achievements/create/" class="btn btn-warning" role="button" style="margin-top: 20px;">Add achievements</a>
    <% if (achievements && achievements.length) { %>
    <h2 style="color: blue; text-decoration: underline; margin-top: 30px;"> List of All Achievements </h2>
    <!-- Template for each achievement-->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Achievement</th>
                <th scope="col">Year</th>
                <th scope="col">Caption</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% achievements.forEach((achievement) => { %>
                <tr>
                    <th scope="row"><%= achievement.title %></th>
                    <td><%= moment(achievement.createdAt).format('YYYY'); %></td>
                    <td><%= achievement.caption %></td>
                    <td><a href="/achievements/details/<%=achievement._id%>">details</a> | <a href="/achievements/update/<%=achievement._id%>">edit</a>  |  <a href="/achievements/delete/<%=achievement._id%>">delete</a></td>
                </tr>
            <%})%>   
        </tbody>
    </table>
    <% }else{ %>
        <div class="container">
            <h1 class="display-2">No achievements exist yet</h1>
        </div>
    <% }%>
    </div>

<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>