<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View News</title>
    <%-include('partials/dependencies.ejs')%>    
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%-include('partials/navbar_admin')%> <br><br>

   <div class="container">
    <% if(newss && newss.length) { %>
            <div class="card-group">
                <% newss.forEach((news)=>{ %>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-text">
                                <%= news.snippet%>
                            </p>
                        </div>
                        <p style="text-align: center;">
                            <a href="/news/update/<%=news._id%>">edit</a> | <a href="/news/delete/<%=news._id%>">delete</a>
                        </p>

                    </div>

               <% }) %>
            </div>
        <% } else { %>
             <h1>No news created yet</h1>
       <% } %>

      <br> <a href="/news/create">Create news</a>
   </div>
<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>