<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>View Clubs</title>
    <style>
        h5{
            display: inline;
        }
        #club_head{
            display: inline;
            color: blue;
            padding-left: 50px;
        }
    </style>
    
</head>
<body>
    <div>
        <form method="POST" style="position: fixed; left: 0; top:0; padding: 10px;" action="/admin/" >
            <button type="submit" class='btn btn-outline-info btn-sm'>HOME</button> 
        </form>
    </div>
    <h3 style="text-align: center; text-decoration: underline; padding-top: 30px;">List of Clubs</h3>
    <% if (clubs && clubs.length) { %>
    <div class="container" style="padding-top:30px;">
        <div class="col-md-6 m-auto">
            <!-- template for each club -->
            <div class="list-group">

            <% clubs.forEach((club) => { %>
            <div class="list-group-item list-group-item-action">
                <div style="float: left;">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1"><b>Club Name : </b><%= club.name %></h5>
                    </div>
                    <p class="mb-1"><b>About : </b><%= club.description %></p>
                    <p> <a href="/club/reset/<%=club._id%>">reset</a> | <a href="/club/details/<%=club._id%>">details</a></p>
                  </div>
                  <div style="float: right;">
                    <img src="/image/<%=club.logo_url%>" alt="club_logo" width="70px">
                  </div>
            </div>
            <% }) %>

            </div>
            
        </div>

    </div>
    <% }else{ %>
        <div class="container">
            <h1 class="display-5">No clubs created yet</h1>
            <br>  
        </div>
    <% }%>
    <div style="text-align: center; margin-top: 20px; margin-bottom: 30px;">
        <a href="/club/create" ><span class="material-icons">add</span>Add Club</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>