<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Events</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="column-2">
                <form method="POST" style="position: relative; left: 0; top:0; padding: 10px;" action="/club_head/" >
                 <button type="submit" class='btn btn-outline-info btn-sm'>HOME</button> 
                 </form>        
            </div>

        </div>
    </div>
    <div class="container">
    <% if (events && events.length) { %>
    <h2 style="color: blue; text-decoration: underline;"> List of All Events </h2>
    <!-- Template for each event-->
    <div class="card-group">
        <% events.forEach((event) => { %>
            <div class="card" style="width: 18rem;">
                <img src="/images/<%= event.poster_url %>" alt="thumbnail of poster" width="286px">
                <div class="card-body">
                    <h5 class="card-title"><%= event.name %></h5>
                    <p class="card-text">
                        <%= moment(event.date).format('Do MMMM, YYYY'); %>
                        <%= event.venue %>
                    </p>
                    <p>
                    <a href="/events/update/<%=event._id%>">edit</a>  |  <a href="/events/delete/<%=event._id%>">delete</a>  |  <a href="/events/details/<%= event._id %>">details</a> | <a href="/notify/<%=event._id%>">notify</a>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>
    <% }else{ %>
        <div class="container">
            <h1 class="display-1">No events created yet</h1>
        </div>
    <% }%>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>