<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Projects</title>
    <%-include('partials/dependencies.ejs')%>    
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%- include('partials/navbar_admin') %>
    <% if (projects && projects.length) { %>
    <h2 style="color: blue; text-decoration: underline; text-align: center;"> List of All Projects </h2>
    <a class="btn btn-warning" href="/projects/create" style="margin-left: 20px; margin-bottom: 20px;" role="button">Add Project</a>
    <div class="container-fluid">
    <div>
        <!-- template for each project -->
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Project Name</th>
                    <th scope="col">Creator</th>
                    <th scope="col">Status</th>
                    <th scope="col">Club</th>
                    <th scope="col">Branch</th>
                    <th scope="col">Members</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% projects.forEach((project) => { %>
                    <tr>
                        <th scope="row"><%= project.title %></th>
                        <td><%= project.creator %></td>
                        <td><% if(project.published) {%>
                            <span class="badge badge-success">Published</span>
                        <%}%>
                        <% if(project.featured) {%>
                            <span class="badge badge-warning">Featured</span>
                        <%}%></td>
                        <td><%= project.club %></td>
                        <td><%= project.branch %></td>
                        <td><% if (project.team_members && project.team_members.length) { %>

                            <% (project.team_members).forEach((person) => { %>
                                <p><%=person%></p>
                            <% }) %>
                            <% } %></td>
                        <td><a href="/projects/details/<%=project._id%>">details</a> | <a href="/projects/update/<%=project._id%>">edit</a>  |  <a href="/projects/delete/<%=project._id%>">delete</a></td>
                    </tr>
                <%})%>   
            </tbody>
        </table>
    </div>
    <% }else{ %>
        <div class="container">
            <h1 class="display-5">No projects created yet</h1>
            <a class="btn btn-warning" href="/projects/create" style="margin-left: 20px; margin-bottom: 20px;" role="button">Add Project</a>
        </div>
    <% }%>
    </div>

<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>