<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Club Heads</title>
    <style>
        h5{
            color: red;
        }
        #club_head{
            color: blue;
            padding-top: 10px;
        }
    </style>
    <%-include('partials/dependencies.ejs')%>    
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%- include('partials/navbar_admin') %>
    <% if (club_heads && club_heads.length) { %>
        <h3 style="text-align: center; text-decoration: underline; padding-top: 30px;">List of Club Heads</h3>
        <a class="btn btn-warning" href="/club_head/create" style="margin-left: 20px;" role="button">Create Club Head</a>
        <div class="container" style="padding-top:30px;">
            <div>
                <!-- template for each club -->
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Club Name</th>
                            <th scope="col">Club Head</th>
                            <th scope="col">Email ID</th>
                            <th scope="col">Contact</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% club_heads.forEach((club_head) => { %>
                            <tr>
                                <th scope="row"><%= club_head.club_name %></th>
                                <td><%= club_head.name %></td>
                                <td><%=club_head.email_id%></td>
                                <td><%=club_head.contact%></td>
                                <td><a href="/club_head/update/<%=club_head._id%>" onclick="return confirm('Are you sure you want to Update <%= club_head.club_name %> ?')">Update</a></td>
                            </tr>
                        <%})%>   
                    </tbody>
                </table>
            </div>
        </div>
    <% }else{ %>
        <div class="container">
            <h1 class="display-5">No clubs created yet</h1>
        </div>
        <div >
            <a class="btn btn-warning" href="/club_head/create" style="margin-left: 20px;" role="button">Create Club Head</a>
        </div>
    <% }%>

<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>