<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Achievements</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%- include('partials/navbar_admin') %>
    <div class="container">
    <% if (achievements && achievements.length) { %>
    <h2 style="color: blue; text-decoration: underline;"> List of All Achievements </h2>
    <!-- Template for each achievement-->
    <div class="card-group" style="align-content: center;">
        <% achievements.forEach((achievement) => { %>
            <div class="card" style="width: 18rem;">
                <% if (achievement.pics_url && achievement.pics_url.length) { %>
                    <% (achievement.pics_url).forEach((pic) => { %>
                    <img  src="/images/<%=pic%>" alt="img" height="100px" width="100px" >
                  <% }) %>
                  <% }%>
                <div class="card-body">
                    <h5 class="card-title"><%= achievement.title %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= achievement.caption %></h6>
                    <div class="card-text">
                        <%- achievement.description %>
                    </div>
                    <p>
                    <a href="/achievements/update/<%=achievement._id%>">edit</a>  |  <a href="/achievements/delete/<%=achievement._id%>">delete</a>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>
    <% }else{ %>
        <div class="container">
            <h1 class="display-2">No achievements exist yet</h1>
        </div>
    <% }%>
    <div style="text-align: center; margin-top: 20px;">
        <a href="/achievements/create/"><span class="material-icons">add</span>Add achievements</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>