<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Events</title>
    <%-include('partials/dependencies.ejs')%>    
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%-include('partials/navbar_clubhead.ejs')%> <br><br>
    <div class="container">
    <% if (events && events.length) { %>
    <h2 style="color: blue; text-decoration: underline;"> List of All Events </h2>
    <!-- Template for each event-->
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Event</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Poster</th>
                    <th scope="col">Venue</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% events.forEach((event) => { %>
                    <tr>
                        <th scope="row"><%= event.name %></th>
                        <td><%= moment(event.date).format('Do MMMM, YYYY'); %></td>
                        <td><%= moment(event.date).format('h:mm a'); %></td>
                        <td><img src="/images/<%= event.poster_url %>" alt="thumbnail of poster" width="40px"></td>
                        <td><%= event.venue %></td>
                        <td>
                            <% var date = new Date(event.date); date.setDate(date.getDate() + 1); %>
                            <!-- use date  for 1 day tolerance || currently done for notify -->
                            <% if ((new Date())<=date) { %>
                            <p>
                            <a href="/events/update/<%=event._id%>">edit</a>  |  <a href="/events/delete/<%=event._id%>">delete</a>  |  <a href="/events/details/<%= event._id %>">details</a> | <a href="/notify/<%=event._id%>">notify</a>
                            </p>
                            <% }else{ %>
                            <p>
                            <a href="/events/details/<%= event._id %>">details</a>
                            </p>
                            <% }%>
                        </td>
                    </tr>
                <%})%>   
            </tbody>
        </table>
    </div>
    <% }else{ %>
        <div class="container">
            <h1 class="display-1">No events created yet</h1>
        </div>
    <% }%>
    </div>
    <style>
        img {
            pointer-events: none;
            -webkit-user-drag: none; 
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
    </style>
<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>