<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blogs</title>
    <style>
    blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
    }

    blockquote p::before {
        content: '\201C';
    }

    blockquote p::after {
        content: '\201D';
    }

    </style>
    <%-include('partials/dependencies.ejs')%>    
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%-include('partials/navbar_editor_blog.ejs')%> <br>
    <br>
    <div class="container">
    <% if (blogs && blogs.length) { %>
    <h2 style="color: blue; text-decoration: underline;"> List of All Blogs </h2>
    <div>
        <!-- template for each club -->
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% blogs.forEach((blog) => { %>
                    <tr>
                        <th scope="row"><%=blog.title%></th>
                        <td><%=blog.category%></td>
                        <td><% if(blog.published) {%>
                            <span class="badge badge-success">Published</span>
                        <%}%>
                        <% if(blog.featured) {%>
                            <span class="badge badge-warning">Featured</span>
                        <%}%></td>
                        <td><a href="/editor/blog/details/<%=blog._id%>">details</a> | <a href="/editor/blog/edit/<%=blog._id%>">edit</a> | <a href="/editor/blog/delete/<%=blog._id%>">delete</a></td>
                    </tr>
                <%})%>   
            </tbody>
        </table>
    </div>
    <% }else{ %>
        <div class="container">
            <h1 class="display-1">No blog created yet</h1>
        </div>
    <% }%>
    </div>

<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>