<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Projects</title>
    <%-include('partials/dependencies.ejs')%>    
</head>
<body>    
  <%-include('partials/alert_system.ejs')%>
    <%- include('partials/navbar_admin') %>
    <div class="container">
    <% if (projects && projects.length) { %>
    <h2 style="color: blue; text-decoration: underline; text-align: center;"> List of All Projects </h2>
    <!-- Template for each project-->
    <div class="card-group" style="align-content: center;">
        <% projects.forEach((project) => { %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= project.title %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= project.branch %></h6>
                    <p class="card-text">
                        <%= project.team_members %>
                    </p>
                    <p>
                    <a href="#" class="btn btn-primary btn-sm">edit</a>  |  <a href="#" class="btn btn-primary btn-sm">details</a>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>
    <% }else{ %>
        <div class="container">
            <h1 class="display-5">No projects created yet</h1>
        </div>
    <% }%>
    </div>

<%- include('partials/bottom_spacing.ejs') %>
</body>
</html>